body{
    background-image: url("https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHJvamVjdCUyMG1hbmFnZW1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.header {
   

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .para-1 {
    color: white;
    font-size: 25px;
  }


.desciption {
    padding-left:  50px;
}
.desciption-1 {
    color: white;
    font-size: 20px;
    max-width: 680px;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px 0 10px 10px;
}
.desciption-2 {
    padding-left: 150px;
}
.steps {
    color: white;
    font-size: 20px;
    padding: 10px 0 10px 10px;
}
.sketch-1 {
    width: 600px;
    border-radius: 30px;
}
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.next-page {
    color: white;
    font-size: 35px;
    border: 1px solid white;
    cursor: pointer;;
}